.body{
    background-color: #ebe8e5;
}
.cabecera{
    background-color: #ff9300
}
.titulo{
    color: white;
    font-size: 24px;
    font-weight: 500;
}
.tablatareaspendientes{
    background:#dfcfbe;
}
.tablatareasenprogreso{
    background: #dfcfbe;
    margin:25px 0 0 25px;
}
.tablatareasfinalizadas{
    background:#dfcfbe;
}
.boton{
    color: #fffcfa;
    background-color: #ec7309;
    border-color: #bb5b07;
}
.div{
    word-wrap: break-word;
}